.h-auto{
    height: auto;
  }
  .h-450{
    max-height: 450px;
  }
  .box-notification{
    margin-top: 20px;
    max-width: 70%;
    padding: 10px;
    position: relative;
  }
  .box-notification:before{
    content: '';
    position: absolute;
    border: 4px solid #BDCDFF;
    border-radius: 10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .box-notification:hover:before{
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    opacity: 1;
  }